<div class="product-item series-sub-category" data-tid="{{ term.id }}" style="background-color: {{ content.field_background_color.0|raw }};">
  <div class="product-img">
    {{ content.field_image.0 }}
  </div>

  <div class="product-sub-title">
    {{ content.description }}
  </div>
</div>
