.lightgallery .field-content a:hover {
  cursor: zoom-in;
}

/* Contact modal */
#block-contactfloatingbuttonontheright .contact-modal-opener {
  border-radius: 5px;
  background-color: #586267;
  display: inline-block;
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 21px;
  text-align: center;
  padding: 20px 30px;
  height: 101px;
}

/* TODO. Need fix it. Had no time for research it. */
.menu-item--expanded > .field-solution {
  display: none;
}

/* Products menu description */
.views-field-description__value {
  color: #858585;
  font-family: Ubuntu;
  font-size: 14px;
  letter-spacing: 0.64px;
  line-height: 16px;
  margin: 0 10px 0 20px;
}
