@media screen and (max-width: 767px) {
  body.node--type-worldwide img#map-block-img {
    max-width: unset !important; 
    width: 100% !important; 
    height: 520px !important; 
  }
}

.path-frontpage .leaflet-interactive:not(.marker-wrap-big):hover {
  cursor: default !important; 
}
