{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ content }}

  <div class="slick-pagination">
    <div class="main-slick-arrows"></div>
    <div class="numbers"></div>
  </div>
</div>
