{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'text-section'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="row align-items-center">
    <div class="medium-6 column">
      {% if content.field_text.0 %}
        <div class="text-large">{{ content.field_text }}</div>
      {% endif %}
    </div>

    <div class="medium-6 column">
      {{ content.field_image_crop }}
    </div>
  </div>
</div>
