{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="row expanded">
    <div class="small-12 large-5">
      {{ content.field_image_crop }}
    </div>
    <div class="small-12 large-7 order-1">
      <div class="text-wrapper">
        <div class="text-pos">
          <div class="text-large">{{ content.field_text }}</div>
          <div class="link">{{ content.field_link }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
