{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <img id="map-block-img" src="/{{ base_path ~ directory }}/images/map/map.svg" width="100%" />
</div>

{# <img src="/{{ base_path ~ directory }}/images/map/map-with-dots.svg" id="map-block-img-test" style="width: 100%;" /> #}
