{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ content.field_title }}
  {{ content.field_text }}
  
  <form action="/">
    <input type="text" placeholder="Email address" name="mail" required>
    <input type="submit" value="Get Started">
  </form>
</div>
