{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="small-12 column">
      <div class="paragraph-wrapper">
        {{ content }}
      </div>
    </div>
  </div>
</div>
