{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="small-12 column">
      <h3 class="block-title">{{ 'Related News'|t }}</h3>
      {{ content }}
    </div>
  </div>
</div>
