{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if parts_map_data %}
    <div class="links-map" style="position: relative;">
      {{ content.field_image_crop.0 }}
      {% for link in parts_map_data %}
        {{
          link(
            '',
            'internal:' ~ path('responsive_image_map.entity.view', {'entity_type': 'paragraph', 'entity_id': link.pid, 'view_mode': 'default'}),
            {
              'class': ['use-ajax'],
              'data-dialog-type': 'modal',
              'data-dialog-options': dialog_options,
              'style': link.style,
            }
          )
        }}
      {% endfor %}
    </div>
  {% endif %}

  {{ content.field_machine_parts }}

</div>
