
{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="line line-1"></div>

  <div class="row">
    <div class="small-12 column">
      {% if "On" in content.field_breadcrumbs.0 %}
        {{ drupal_entity('block', 'tederic_breadcrumbs') }}
      {% endif %}

      {{ content|without('field_breadcrumbs') }}

      <div class="line line-2"></div>
      <div class="line line-3"></div>
    </div>
  </div>
</div>

