{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="small-12 column">
      <div class="title">{{ content.field_title }}</div>
      {{ drupal_view('news', 'section_block') }}
      {{ content.field_link }}
    </div>
  </div>
</div>

