{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="row">

    <div class="large-5 column">
      {{ content.field_title }}
    </div>

    <div class="large-7 column">
      {{ content.field_text }}
      <form action="/">
        <input type="text" placeholder="Email address" name="mail" required>
        <input type="submit" value="Get Started">
      </form>
    </div>

  </div>
</div>
