{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="small-12 column">
      {% if content.field_title.0 %}
        <div class="title">{{ content.field_title }}</div>
      {% endif %}
      {{ content.field_text }}
    </div>
  </div>
</div>
