{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{{ attach_library('tederic/timeline') }}

<div{{ attributes.addClass(classes) }}>
  {{ content }}
</div>
