{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
<div{{ attributes.addClass(classes) }}>

  <div class="main-slider-img">
    {{ content.field_image_crop }}
  </div>

  <div class="main-slider-text">
    <div class="row">
      <div class="small-12 column">
        <div class="animation-text">
          {{ content.field_text }}
          {{ content.field_link }}
        </div>
      </div>
    </div>
  </div>

</div>
