{%
  set classes = [
    paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="row">

    <div class="small-12 large-5 column">
      {{ content.field_title }}
    </div>

    <div class="small-12 large-7 column">
      <div class="sup-title">{{ content.field_text }}</div>

      <form action="/">
        <div class="form-item js-form-type-text">
          <input type="text" placeholder="Email address" name="mail" required>
        </div>
        <div class="form-item form-actions">
          <div class="link">
            <a class="#">Get Started</a>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
