<article{{ attributes }}>
  <div class="row">

    <div class="medium-6">
      {{ content.field_images.0 }}
    </div>

    <div class="medium-6">
      <div class="technologie-content">
        <h2 class="title">{{ label }}</h2>
        {{ content|without('field_images') }}
      </div>
    </div>

  </div>
</article>
